.btn
    box-sizing  border-box
    width 100%
    font-size 22px
    text-align center
    border none
    height 55px
    display block 
    line-height 55px
    color #fff
    cursor pointer
    transition background-color .2s ease-in-out, color .2s ease-in-out
    padding 0 
    outline none
    background $cBlue 
    font-family $font_cond
    
    &:hover
        text-decoration none     
        background $cGrey
        color #000
        
    &_inline
        display inline-block
        width auto
        padding 0 30px

    &_disabled,
    &[disabled]
        background #0c3a48
        color #53747e  
        cursor default