block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.contacts-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span Контакты

        h3 Контакты

        .justifyed
            .contacts
                .contacts-block
                    h2  Адрес
                    p
                        span Москва,
                        span улица Нагатинская 16, ТЦ "Конфетти"
                    p
                        span Телефон:
                        a("tel:84955181966").contacts-tel +7 (495) 518 1966
                    p
                        span E-mail:
                            a("mailto:ruslan.hodov@gmail.com").contacts-mail ruslan.hodov@gmail.com

                .contacts-block
                    h2 Информация
                    p
                        span По вопросам гарантийного обслуживания обращайтесь по адресу
                        a("mailto:info@fullspot-russia.ru").contacts-garant info@fullspot-russia.ru
                        span По вопросам сотрудничества и оптовых закупок воспользуйтесь формой обратной связи.
                    p
                        span Корпоративным клиентам:
                        span Компания Fullspot готова изготовить часы для юр. лиц с нанесением логотипа вашей компании на циферблат.
                    p
                        span - ООО "Аввенире"
                        span - юр.адрес 119530, г. Москва, Очаковское шоссе, д. 34, помещение IX - комната 23
                        span - фак.адрес 115533, г. Москва, улица Нагатинская 16, ТЦ "Конфетти"
                        span - ОГРН: 1137746294146

            .feedback
                form(action="/static/js/ajax/send-form.php" method="post").mail-form
                    h2 Обратная связь
                    label
                        span Ваше имя
                        input(type="text" name="name" placeholder="Начните ввод...").form-input.required
                    label
                        span E-mail
                        input(type="text" name="mail" placeholder="Начните ввод...").form-input.required.input-mail
                    label
                        span Тема сообщения
                        input(type="text" name="theme" placeholder="Начните ввод...").form-input.required
                    label
                        span Cообщения
                        textarea(name="post" placeholder="Начните ввод...").form-input.required
                    a.btn.js-form-submit Отправить

        div(id="map").map
        script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")