block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.basket-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span Корзина

        h3 Корзина

        form.basket-wrap
            table(data-url="/static/js/ajax/change.php" data-method="post").basket
                tr.basket__line-caption.basket__line
                    th.basket__line-name
                            span Название
                    th.basket__line-article
                        span Артикул
                    th.basket__line-price
                            span Цена
                    th.basket__line-number
                            span Количество/Обновить
                    th.basket__line-total
                        span Итог
                tr.basket__line
                    td.basket__line-name
                        input(type="hidden" name="product_id" value="handler_01").basket-item
                        span Кисти шоколадные ЭКО-кожа
                    td.basket__line-article
                        span people-africa-1
                    td.basket__line-price
                        span 490 руб.
                    td.basket__line-number
                        input(type="text" name="product_amount" value="1").input_number
                        a.basket__line-refresh.js--amount-refresh
                        a.basket__line-delete.js--amount-delete
                    td.basket__line-total
                        span 490 руб.
                tr.basket__line
                    td.basket__line-name
                        input(type="hidden" name="product_id" value="handler_02").basket-item
                        span Кисти ванильные кожзам
                    td.basket__line-article
                        span people-africa-2
                    td.basket__line-price
                        span 1290 руб.
                    td.basket__line-number
                        input(type="text" name="product_amount" value="2").input_number
                        a.basket__line-refresh.js--amount-refresh
                        a.basket__line-delete.js--amount-delete
                    td.basket__line-total
                        span 2580 руб.
                tr.basket__line.table-sub-total
                    td(colspan="4").basket__line-name
                        span Промежуточный итог:
                    td.basket__line-total
                        span 3580 руб.
                tr.basket__line.basket__discount
                    td(colspan="3").basket__discount-input
                        span Если у вас есть код купона, пожалуйста, введите его ниже
                        input(type="text" name="discount" value="")
                        a(href="" placeholder="Начните ввод..").basket__discount-input-send.btn Отправить
                    td.basket__discount-text
                        span Скидка:
                    td.basket__line-total
                        span 0 руб.
                tr.basket__line.basket__total
                    td(colspan="3").table__total-link
                        a(href="").basket__total-back << Вернуться к покупкам
                    td.basket__total-text
                        span Итого:
                    td.basket__total-total
                        span 3580 руб.

            .basket__send
                a.btn.basket__send-link Оформить заказ

        p.basket-empty-text.hidden-block Ваша корзина пуста. Вернитесь на главную страницу или перейдите в каталог для совершения покупок


