block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.sertificate-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span Сертификаты

        h3 Сертификат

        .justifyed
            img(src="/media/sertoficate.jpg").sertificate-img

            .sertificate-text
                p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent

            .sertificate-purchase.shadow
                span.title Подарочный сертификат
                form(action="/static/js/ajax/add-basket.html" method="post").product-form
                    input(type="hidden" name="product_id" value="sertificate_01")
                    label
                        input(type="radio" name="sertificate_type" value="sertificate_01-s")
                        span 2000 руб.
                    label
                        input(type="radio" name="sertificate_type" value="sertificate_02-l")
                        span 7000 руб.
                    label
                        input(type="radio" name="sertificate_type" value="sertificate_03-m")
                        span 10000 руб.
                    button.btn.js--product-add В корзину

        .yashare-auto-init(data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook" data-yashareTheme="counter" data-yasharetitle="Заголовок страницы" data-yasharelink="http://link.ru" data-yasharedescription="Описание товара при необходимости" data-yashareimage="http://fullspot-russia.ru/images/stories/catalog/obag-handles/SetSize268360-nappine-marroni3.jpg")
        script(type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8")
