block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.registration-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span О bag

        h3 Регистрация

        .justifyed
            .registration
                h2 Регистрация займет не более минуы

                form(action="/static/js/ajax/send-form.php" method="post").mail-form
                    label
                        span Имя
                            i *
                        input(type="text" name="name" placeholder="Начните ввод...").form-input.required
                    label
                        span Фамилия
                        input(type="text" name="second_name" placeholder="Начните ввод...").form-input
                    label
                        span Телефон
                            i *
                        input(type="text" name="phone" placeholder="Начните ввод...").form-input.required.input-phone
                    label
                        span E-mail
                            i *
                        input(type="text" name="mail" placeholder="Начните ввод...").form-input.required.input-mail
                    label
                        span Дата рождения
                        input(type="text" name="birthday" placeholder="Начните ввод...").form-input.input-birthday
                    span
                        i *
                        | -  отмечены поля для обязательного заполнения
                    a.btn.js-form-submit Загеристрироваться

            .benefit
                h2 Преимущества регистрации

                ul.benefit-list
                    li Получайте бонусы и скидки
                    li Экономьте время и деньги на следующих покупках
                    li Узнавайте об акциях, распродажах и поступлении новых коллекций