block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.post-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                a Новости
            li.breadcrumbs__el
                span Новые коллекции совсем скоро

        h3 Новые коллекции совсем скоро

        date 23.01.2015

        .post
            .post-img
                img(src="/media/article-l.jpg").post-img-l
                .justifyed
                    img(src="/media/showroom-1.jpg").post-img-s
                    img(src="/media/showroom-2.jpg").post-img-s

            p Сумки OBag by Fullspot были разработаны Эмануэлой Магентой как сумки трансформеры. Obag изготовлены из полусинтетической резины, материал EVA. Трансформируй ее как городскую, пляжную или сумку для шоппинга! Для этого в твоем распоряжении кожаные ручки(доступны в трех цветах), синтерические(доступны в двух цветах),веревочные ручки, кошельки и пляжные коврики! Obag будут доступны в 20 разных цветах.
            p Компания Fullspot была создана молодыми дизайнерами из Италии и завоевала симпатию огромного числа поклонников разных дизайнерских штучек, более чем в 15 странах мира. Эти часы адресованы молодым и динамичным людям, кто хочет повседневно использовать простые дизайн объекты полностью подобранные под себя. Тенденции часов O`Clock не просто «сделано в Италии» это еще и превосходное качество материалов, внимание к деталям и забота о покупателях, так как часы O`Clock это часы для всей семьи.
            p Сумки OBag by Fullspot были разработаны Эмануэлой Магентой как сумки трансформеры. Obag изготовлены из полусинтетической резины, материал EVA.
            p Сумки OBag by Fullspot были разработаны Эмануэлой Магентой как сумки трансформеры. Obag изготовлены из полусинтетической резины, материал EVA. Трансформируй ее как городскую, пляжную или сумку для шоппинга! Для этого в твоем распоряжении кожаные ручки(доступны в трех цветах), синтерические(доступны в двух цветах),веревочные ручки, кошельки и пляжные коврики! Obag будут доступны в 20 разных цветах.
            p Компания Fullspot была создана молодыми дизайнерами из Италии и завоевала симпатию огромного числа поклонников разных дизайнерских штучек, более чем в 15 странах мира. Эти часы адресованы молодым и динамичным людям, кто хочет повседневно использовать простые дизайн объекты полностью подобранные под себя. Тенденции часов O`Clock не просто «сделано в Италии» это еще и превосходное качество материалов, внимание к деталям и забота о покупателях, так как часы O`Clock это часы для всей семьи.

        .share
            .yashare-auto-init(data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook" data-yashareTheme="counter" data-yasharetitle="Заголовок страницы" data-yasharelink="http://link.ru" data-yasharedescription="Описание товара при необходимости" data-yashareimage="http://fullspot-russia.ru/images/stories/catalog/obag-handles/SetSize268360-nappine-marroni3.jpg")
            script(type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8")

        a(href="").link-back << Назад