block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.construct-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span Конструктор часов

        h3 Конструктор часов

        ul.carousel.product-list
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-1.jpg" alt)
                    span Collection 1
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-2.jpg" alt)
                    span Collection 2
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-3.jpg" alt)
                    span Collection 3
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-4.jpg" alt)
                    span Collection 4
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-5.jpg" alt)
                    span Collection 5
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-6.jpg" alt)
                    span Collection 6
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-7.jpg" alt)
                    span Collection 7
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-8.jpg" alt)
                    span Ремешки
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-9.jpg" alt)
                    span Циферблаты

        .constructor
            .constructor-img
                img(src="/media/dial-1.png").constructor-img-dial
                img(src="/media/bracelet-1.png").constructor-img-braclet
                .dial-next.arrow-next
                .dial-prev.arrow-prev
                .bracelet-next.arrow-next
                .bracelet-prev.arrow-prev

            .constructor-content
                form(action="/static/js/ajax/constructor.php" method="post").conscructor-form
                    input(type="hidden" name="dial_id" value="").input-dial
                    ul.constructor-content__dial
                        li(data-img="/media/dial-1.png" data-id="dial_01" data-name="Название циферблата 1").constructor-content__dial__el.active
                            img(src="/media/dial-1-s.jpg")
                        li(data-img="/media/dial-2.png" data-id="dial_02" data-name="Название циферблата 2").constructor-content__dial__el
                            img(src="/media/dial-2-s.jpg")
                        li(data-img="/media/dial-1.png" data-id="dial_03" data-name="Название циферблата 3").constructor-content__dial__el
                            img(src="/media/dial-1-s.jpg")
                        li(data-img="/media/dial-2.png" data-id="dial_04" data-name="Название циферблата 4").constructor-content__dial__el
                            img(src="/media/dial-2-s.jpg")

                    input(type="hidden" name="bracelet_id" value="").input-bracelet
                    ul.constructor-content__bracelet
                        li(data-img="/media/bracelet-1.png" data-id="bracelet_01" data-name="Название браслета 1").constructor-content__dial__el.active
                            img(src="/media/bracelet-1-s.jpg")
                        li(data-img="/media/bracelet-2.png" data-id="bracelet_02" data-name="Название браслета 2").constructor-content__dial__el
                            img(src="/media/bracelet-2-s.jpg")
                        li(data-img="/media/bracelet-1.png" data-id="bracelet_03" data-name="Название браслета 3").constructor-content__dial__el
                            img(src="/media/bracelet-1-s.jpg")
                        li(data-img="/media/bracelet-2.png" data-id="bracelet_04" data-name="Название браслета 4").constructor-content__dial__el
                            img(src="/media/bracelet-2-s.jpg")

                form(action="/static/js/ajax/add-basket.html" method="post").product-form
                    .constructor-info
                        .constructor-info-dial
                            input(type="hidden" name="dial_id" value="").input-dial
                            span.title Циферблат
                            span.value O'Clock / Giallo
                        .constructor-info-braclet
                            input(type="hidden" name="bracelet_id" value="").input-bracelet
                            span.title Ремешок
                            span.value O'Clock Cinturino/Blu Capri
                        .constructor-info-size
                            span.title Размер

                            div
                                label.xs
                                    input(type="radio" name="size" value="xs" disabled)
                                    span XS
                                label.s
                                    input(type="radio" name="size" value="s" checked)
                                    span S
                                label.m
                                    input(type="radio" name="size" value="m")
                                    span M
                                label.l
                                    input(type="radio" name="size" value="l")
                                    span L

                    .constructor-pay
                         a(href="").btn.js--product-add
                            | Купить за
                            i 1980
                            | рублей

                         span.product__info-purchase-discount Хотите скидку 3%?
                         a.product__info-purchade оставьте ваш телефон или e-mail

