block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.news-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span О bag

        h3 Новости

        ul.news-list
            li.news-list__el
                a.news-list__el-img
                    img(src="/media/index-list-1.jpg")

                .news-list__el-content
                    .news-list__el-content-title
                        a Новые коллекции совсем скоро
                    date.news-list__el-content-date 23.01.2015
                    p Сумки OBag by Fullspot были разработаны Эмануэлой Магентой как сумки трансформеры. Obag изготовлены из полусинтетической резины, материал EVA.
                    a.news-list__el-content-more Читать далее >>

            li.news-list__el
                .news-list__el-content
                    .news-list__el-content-title
                        a Новые коллекции совсем скоро
                    date.news-list__el-content-date 23.01.2015
                    p Сумки OBag by Fullspot были разработаны Эмануэлой Магентой как сумки трансформеры. Obag изготовлены из полусинтетической резины, материал EVA.
                    a.news-list__el-content-more Читать далее >>

        ul.pagination
            li.prev
                a
            li
                a 1
            li.current
                span 2
            li
                a 3
            li
                a 4
            li
                a 5
            li
                span ...
            li
                a 14
            li.next
                a
