block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.index-content
        ul.slider.shadow
            li
                a(href = "#")
                    img(src="/media/slider-1.jpg" alt)
            li
                a(href = "#")
                    img(src="/media/slider-2.jpg" alt)
            li
                a(href = "#")
                    img(src="/media/slider-3.jpg" alt)

        .justifyed
            .width--two-thirds
                ul.product-list
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-1.jpg" alt)
                            span Collection 1
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-2.jpg" alt)
                            span Collection 2
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-3.jpg" alt)
                            span Collection 3
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-4.jpg" alt)
                            span Collection 4
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-5.jpg" alt)
                            span Collection 5
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-6.jpg" alt)
                            span Collection 6
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-7.jpg" alt)
                            span Collection 7
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-8.jpg" alt)
                            span Ремешки
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-9.jpg" alt)
                            span Циферблаты


            aside
                .shadow.banner.banner__type-1
                    span.title Конструктор часов
                    a
                        img(src="/media/index-list-1.jpg")
                    a(href="#").btn Перейти

                a.banner.banner__type-2
                    span.title O`BAG сумка трансформер
                    img(src="/media/product-about-2.jpg" alt)

                a.banner.banner__type-3
                    .shadow
                        img(src = '/media/sertoficate.jpg' alt)
                    span Подарочный сертификат
