block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.list-content
        ul.slider.shadow
            li
                a(href = "#")
                    img(src="/media/slider-1.jpg" alt)
            li
                a(href = "#")
                    img(src="/media/slider-2.jpg" alt)
            li
                a(href = "#")
                    img(src="/media/slider-3.jpg" alt)

        h3 О bag

        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span О bag

        .list.justifyed
            .width--two-thirds
                ul.product-list
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-1.jpg" alt)
                            span Collection 1
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-2.jpg" alt)
                            span Collection 2
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-3.jpg" alt)
                            span Collection 3
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-4.jpg" alt)
                            span Collection 4
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-5.jpg" alt)
                            span Collection 5
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-6.jpg" alt)
                            span Collection 6
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-7.jpg" alt)
                            span Collection 7
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-8.jpg" alt)
                            span Ремешки
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-9.jpg" alt)
                            span Циферблаты
                ul.product-list
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-1.jpg" alt)
                            span Collection 1
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-2.jpg" alt)
                            span Collection 2
                    li.product-list__el
                        a
                            div.product-list__el-img.shadow
                                img(src = "/media/index-list-3.jpg" alt)
                            span Collection 3
                    li.product-list__el

                h4 O`Bag
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                h4 Философия FULLSPORT RUSSIA
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            aside
                a.shadow
                    img(src = '/media/banner-1.jpg' alt)

                a
                    img(src = '/media/banner-2.jpg' alt)

                a
                    img(src = '/media/banner-3.jpg' alt).shadow
                    span Подарочный сертификат
