block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.delivery-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span О bag

        h3 Оформление заказа

        form(action="" method="post").form-delivery.mail-form
            .form-delivery__customer

                h2 Информация о покупателе

                label
                    span Ф.И.О.
                        i *
                    input(type="text" name="name").form-input.required
                label
                    span E-mail
                        i *
                    input(type="text" name="mail").form-input.required.input-mail
                label
                    span Телефон
                        i *
                    input(type="text" name="phone").form-input.required.input-phone

            .form-delivery__summ

                h2 Сумма к оплате

                div
                    span.title Товаров на
                    span.value 5000 руб.
                div
                    span.title Доставка
                    span.value 500 руб.
                .form-delivery__summ-total
                    span.title Итого:
                    span.value 5500 руб.


            .form-delivery__payment

                h2 Способы оплаты

                label
                    input(type="radio" checked name="payment" value="payment_01")
                    .label-wrap
                        img(src="/static/img/icon--payment-1.jpg").shadow
                        .label-content
                            span.title Банковские карты
                            span Банковский перевод любыми дебетовыми или кредитными картами.
                label
                    input(type="radio" name="payment" value="payment_02")
                    .label-wrap
                        img(src="/static/img/icon--payment-2.jpg").shadow
                        .label-content
                            span.title Наличными курьеру
                            span Оплата наличными при получении заказа курьеру.

            .form-delivery__type

                h2 Способы доставки

                label
                    input(type="radio" checked name="delivery" value="delivery_01")
                    .label-wrap
                        img(src="/static/img/icon--delivery-1.jpg").shadow
                        .label-content
                            span.title Самовывоз
                            span г. Москва, ул. Нагатинская 16, ТЦ “Конфетти”
                        .label-price
                            span Стоимость
                            span 0 руб.

                label
                    input(type="radio" name="delivery" value="delivery_02")
                    .label-wrap
                        img(src="/static/img/icon--delivery-2.jpg").shadow
                        .label-content
                            span.title Доставка курьером
                            span Доставка осуществляется в течение дня в удобное для вас время.
                        .label-price
                            span Стоимость
                            span 500 руб.
                        .label-hidden
                            span г.Москва, введите ваш адрес
                            input(type="text" name="courier_adres").form-input

                label
                    input(type="radio" name="delivery" value="delivery_03")
                    .label-wrap
                        img(src="/static/img/icon--delivery-3.jpg").shadow
                        .label-content
                            span.title Почта России
                            span Отправка через сервис Почты России, доставка зависит от вашего региона.
                        .label-price
                            span Стоимость
                            span 0 руб.
                        .label-hidden
                            .label-l
                                span Индекc
                                input(type="text" name="adres_index").form-input
                            .label-l
                                span Город, область
                                input(type="text" name="adres_town").form-input
                            .label-l
                                span Улица
                                input(type="text" name="adres_street").form-input
                            .label-s
                                span Дом
                                input(type="text" name="adres_house").form-input
                                span Корпус
                                input(type="text" name="adres_housing").form-input.input-housing
                                span Квартира
                                input(type="text" name="adres_flat").form-input.input-flat

            .form-delivery__comment

                h2 Комментарии к заказу

                textarea(name="comment").form-input

            a.btn.js-form-submit Отправить заказ
