block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.delivery-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span Спасибо за заказ

        h3 Спасибо за заказ

        p.checkout-ok Выражаем благодарность за доверие к нашему магазину и предлагаем вам поделиться этим в социальных сетях

        .yashare-auto-init(data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook" data-yashareTheme="counter" data-yasharetitle="Заголовок страницы" data-yasharelink="http://link.ru" data-yasharedescription="Описание товара при необходимости" data-yashareimage="http://fullspot-russia.ru/images/stories/catalog/obag-handles/SetSize268360-nappine-marroni3.jpg")
        script(type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8")
