block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.showroom-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span О bag

        h3 Showroom

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident

        ul.photo-list
            li.photo-list__el
                a(href="/media/showroom-1-l.jpg" title="Заголовок 1 Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos him" rel="photo").fancybox.shadow
                    img(src = "/media/showroom-1.jpg" alt)
            li.photo-list__el
                a(href="/media/showroom-1-l.jpg" title="Заголовок 2 Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos him" rel="photo").fancybox.shadow
                    img(src = "/media/showroom-2.jpg" alt)
            li.photo-list__el
                a(href="/media/showroom-1-l.jpg" title="Заголовок 3 Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos him" rel="photo").fancybox.shadow
                    img(src = "/media/showroom-3.jpg" alt)
            li.photo-list__el
                a(href="/media/showroom-1-l.jpg" title="Заголовок 4 Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos him" rel="photo").fancybox.shadow
                    img(src = "/media/showroom-4.jpg" alt)
            li.photo-list__el
                a(href="/media/showroom-1-l.jpg" title="Заголовок 1" rel="photo").fancybox.shadow
                    img(src = "/media/showroom-5.jpg" alt)
            li.photo-list__el
                a(href="/media/showroom-1-l.jpg" title="Заголовок 2" rel="photo").fancybox.shadow
                    img(src = "/media/showroom-6.jpg" alt)
            li.photo-list__el
                a(href="/media/showroom-1-l.jpg" title="Заголовок 3" rel="photo").fancybox.shadow
                    img(src = "/media/showroom-7.jpg" alt)
            li.photo-list__el
                a(href="/media/showroom-1-l.jpg" title="Заголовок 4" rel="photo").fancybox.shadow
                    img(src = "/media/showroom-8.jpg" alt)