block vars
    - var title='fullsport'

extends ../partials/layout


block content
    section.page-content.product-content
        ul.breadcrumbs
            li.breadcrumbs__el
                a Главная
            li.breadcrumbs__el
                span О bag

        ul.carousel.product-list
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-1.jpg" alt)
                    span Collection 1
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-2.jpg" alt)
                    span Collection 2
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-3.jpg" alt)
                    span Collection 3
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-4.jpg" alt)
                    span Collection 4
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-5.jpg" alt)
                    span Collection 5
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-6.jpg" alt)
                    span Collection 6
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-7.jpg" alt)
                    span Collection 7
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-8.jpg" alt)
                    span Ремешки
            li.product-list__el
                a
                    div.product-list__el-img.shadow
                        img(src = "/media/index-list-9.jpg" alt)
                    span Циферблаты

        ul.bag-list
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")

        .product__info
            .product__info-text
                p Прочная подкладка  для твой O BAG, доступна в 5 цветах
                img(src = "/media/product-about-1.jpg" alt)
            .product__info-img
                img(src = "/media/product-about-2.jpg" alt)
            .product__info-purchase.shadow
                form(action="/static/js/ajax/add-basket.html" method="post").product-form
                    input(type = "hidden" name = "product_id" value = "handler_01")
                    span.product__info-purchase-name O BAG - бежевая внутренность
                    span.product__info-purchase-price 490 руб.
                    button.btn.js--product-add В корзину
                    span.product__info-purchase-discount Хотите скидку 3%?
                    a.product__info-purchade-popup оставьте ваш телефон или e-mail >>

        .yashare-auto-init(data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook" data-yashareTheme="counter" data-yasharetitle="Заголовок страницы" data-yasharelink="http://link.ru" data-yasharedescription="Описание товара при необходимости" data-yashareimage="http://fullspot-russia.ru/images/stories/catalog/obag-handles/SetSize268360-nappine-marroni3.jpg")
        script(type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8")

        ul.bag-list
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")
            li.bag-list__el
                a(href = "#" rel = "/media/product--bag-l-1.jpg").screenshot
                    img(src = "/media/product--bag-s-1.jpg")

        .product__about
            .product__about-text
                p
                    span
                        strong O'BAG
                        | мягкая на ощупь и устойчивая к воде. Это новая разработка от компании Fullspot. Продукт изготовлен из мягкой пены, материал EVA (этилена и винилацетата). Создай свою собственную уникальную комбинацию, используя все аксессуары, твои возможности безграничны.
                    span
                        | Коллекция
                        strong      O'BAG
                        |   доступна в 20 различных цветах и дополнена огромным количеством аксессуаров для всех сезонов года.
                p
                    span
                        strong Размер сумки:
                        | высота 33 см; ширина 40 см; глубина 12 см.
                    span
                        strong Дизайн:
                        | Emanuele Magenta
                p
                    strong MADE IN ITALY
            .product__about-img
                img(src = "/media/create_bug_2.jpg")

        .horisontal-banner
            a
                img(src = "/media/banner-3.jpg").shadow
                span Подарочный сертификат



