.popup-block
    h2 Вход на сайт

    span.title Войти через соц.сети
    ul.social
        li
            a(href = "#")
                img(src = "/static/img/social-vk.png")
                span Вконтакте
        li
            a(href = "#")
                img(src = "/static/img/social-ml.png")
                span МойМир
        li
            a(href = "#")
                img(src = "/static/img/social-fb.png")
                span Facebook
        li
            a(href = "#")
                img(src = "/static/img/social-gl.png")
                span Google+

    form(action = "/static/js/ajax/has-registration.php" method = "post").mail-form
        label
            span Телефон или e-mail
            input(placeholder = "Начните ввод..." name = "name" type = "text").form-input.required
        label
            span Пароль
            input(placeholder = "Начните ввод..." name = "password" type = "password").form-input.required
        label
            input(type = "checkbox" name = "login_remember").input-checkbox
            span Запомнить меня
        a.form-submit.btn.js-form-submit Отправить
        span.error-message.hidden-block Такая комбинация логина и пароля не найдена. Пожалуйста, проверьте правильность ввода

    .link
        a(href = "#") Забыли пароль?
    .link
        a(href = "#") Регистрация