.popup-block
    h2 Заказать обратный звонок

    form(action = "/static/js/ajax/send-form.php" method = "post").mail-form
        label
            span Ваше имя
            input(placeholder = "Начните ввод..." name = "name" type = "text").form-input.required
        label
            span Контактный телефон
            input(placeholder = "Начните ввод..." name = "phone" type = "text").form-input.required.input-phone
        a.btn.js-form-submit Отправить