html * {
  max-height: 999999px;
  -webkit-font-smoothing: antialiased;
}
html {
  height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 960px;
}
@media sm {
  html,
  body {
    min-width: 100%;
  }
}
@media xs {
  html,
  body {
    min-width: 100%;
  }
}
@media xxs {
  html,
  body {
    min-width: 100%;
  }
}
body {
  font: 16px 'Open Sans', sans-serif;
  color: #01303e;
  position: relative;
  -webkit-text-size-adjust: 100%;
  background: #fff url("/static/img/bg.png") repeat 0 0;
  min-height: 100%;
}
@media sm {
  body {
    min-width: 100%;
  }
}
@media xs {
  body {
    min-width: 100%;
  }
}
@media xxs {
  body {
    min-width: 100%;
  }
}
form,
p,
ul,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}
/***** ie fix ****/
a img {
  border: none;
}
input,
textarea {
  font-family: "Roboto", sans-serif;
  color: #01303e;
  outline: none;
}
button {
  font-family: "Roboto", sans-serif;
}
a,
span,
p {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 16px;
  line-height: auto;
}
a {
  outline: none;
  color: #009fc3;
  text-decoration: none;
  cursor: pointer;
}
h1 {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 60px;
  font-weight: 300;
}
h2 {
  font-size: 22px;
  color: #009fc3;
  display: block;
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
  padding-bottom: 25px;
}
h3 {
  font-size: 30px;
  color: #000;
  display: block;
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
  padding-bottom: 25px;
}
h4 {
  font-size: 20px;
  color: #000;
  display: block;
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
  padding-bottom: 25px;
  font-weight: 700;
}
.rouble:after {
  font-family: 'PT Sans', sans-serif;
  content: " \20B7";
  margin-top: 1px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
.wrapper {
  overflow: hidden;
}
.page-wrap {
  width: 960px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
}
@media sm {
  .page-wrap {
    width: 100%;
  }
}
@media xs {
  .page-wrap {
    width: 100%;
  }
}
@media xxs {
  .page-wrap {
    width: 100%;
  }
}
.page-wrap:before {
  top: 0;
  bottom: 0;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  width: 960px;
  left: 50%;
  margin-left: -480px;
  content: '';
  position: absolute;
  z-index: 0;
}
@media sm {
  .page-wrap:before {
    width: 100%;
    left: 0;
    right: 0;
    margin-left: 0;
  }
}
@media xs {
  .page-wrap:before {
    width: 100%;
    left: 0;
    right: 0;
    margin-left: 0;
  }
}
@media xxs {
  .page-wrap:before {
    width: 100%;
    left: 0;
    right: 0;
    margin-left: 0;
  }
}
.page-content {
  position: relative;
  z-index: 1;
  padding: 0 17px 15px;
}
.psevdofooter {
  height: 115px;
}
@media sm {
  .psevdofooter {
    height: 120px;
  }
}
@media xs {
  .psevdofooter {
    height: 150px;
  }
}
@media xxs {
  .psevdofooter {
    height: 190px;
  }
}
.footer {
  position: absolute;
  height: 115px;
  left: 0;
  right: 0;
  bottom: 0;
}
@media sm {
  .footer {
    height: 120px;
  }
}
@media xs {
  .footer {
    height: 150px;
  }
}
@media xxs {
  .footer {
    height: 190px;
  }
}
.justifyed {
  text-align: justify;
  margin-bottom: -1em;
}
.justifyed:after {
  display: inline-block;
  content: '';
  width: 100%;
}
ol,
ul,
.grid {
  list-style: none;
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}
li,
.grid-item {
  line-height: normal;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
.shadow {
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
.width--two-thirds {
  width: 660px;
  display: inline-block;
  vertical-align: top;
}
@media sm {
  .width--two-thirds {
    width: 500px;
  }
}
@media xs {
  .width--two-thirds {
    display: block;
    width: auto;
  }
}
@media xxs {
  .width--two-thirds {
    display: block;
    width: auto;
  }
}
aside {
  width: 230px;
  display: inline-block;
  vertical-align: top;
}
@media sm {
  aside {
    width: 200px;
  }
}
@media xs {
  aside {
    display: block;
    width: auto;
  }
}
@media xxs {
  aside {
    display: block;
    width: auto;
  }
}
textarea.error,
input.error {
  border: 1px solid #f00 !important;
}
.hidden-block {
  display: none !important;
}
