// Variables

$cBlue = #009fc3
$cGreen = #95dd51
$cBlack = #01303e 
$cGrey = #999999
$cRed = #ff566a
$cPurple = #c683d7


html *
    max-height 999999px //android font-size fix
    -webkit-font-smoothing: antialiased;

html
    height 100%

html
body
    margin 0
    padding 0
    width 100%
    min-width 960px

    @media sm
        min-width 100%
    @media xs
        min-width 100%
    @media xxs
        min-width 100%

body
    font 16px 'Open Sans', sans-serif;
    color $cBlack
    position relative
    -webkit-text-size-adjust 100% // ios font-size fix
    background #fff url(/static/img/bg.png) repeat 0 0
    min-height 100%

    @media sm
        min-width 100%
    @media xs
        min-width 100%
    @media xxs
        min-width 100%

form,
p,
ul, ol,
dl, dt, dd,
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}

/***** ie fix ****/
a img
    border none


input
textarea
    font-family "Roboto", sans-serif
    color $cBlack
    outline none

button
    font-family "Roboto", sans-serif

a, span, p
    font-family "Roboto", sans-serif
    color #000000
    font-size 16px
    line-height auto

a
    outline none
    color $cBlue
    text-decoration none
    cursor pointer

h1 
    font-size 36px 
    line-height 50px
    margin-bottom 60px
    font-weight 300  
    
h2
    font-size 22px
    color $cBlue
    display block
    text-align left
    font-family "Roboto Condensed", sans-serif
    padding-bottom 25px

h3
    font-size 30px
    color #000000
    display block
    text-align left
    font-family "Roboto Condensed", sans-serif
    padding-bottom 25px

h4
    font-size 20px
    color #000000
    display block
    text-align left
    font-family "Roboto Condensed", sans-serif
    padding-bottom 25px
    font-weight 700

.rouble:after
    font-family: 'PT Sans', sans-serif;
    content: " \20B7";
    margin-top: 1px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;

.wrapper
    overflow hidden

.page-wrap
    width 960px
    margin 0 auto
    min-height 100%
    overflow hidden

    @media sm
        width 100%
    @media xs
        width 100%
    @media xxs
        width 100%

.page-wrap:before
    top 0
    bottom 0
    background #fff
    box-shadow 0 0 5px rgba(0,0,0,0.2)
    width 960px
    left 50%
    margin-left -480px
    content ''
    position absolute
    z-index 0

    @media sm
        width 100%
        left 0
        right 0
        margin-left 0
    @media xs
        width 100%
        left 0
        right 0
        margin-left 0
    @media xxs
        width 100%
        left 0
        right 0
        margin-left 0

.page-content
    position relative
    z-index 1
    padding 0 17px 15px


.psevdofooter
    height 115px

    @media sm
        height 120px
    @media xs
        height 150px
    @media xxs
        height 190px

.footer
    position absolute
    height  115px
    left: 0
    right: 0
    bottom: 0

    @media sm
        height 120px
    @media xs
        height 150px
    @media xxs
        height 190px

.justifyed{
    text-align: justify;
    //text-align center
    margin-bottom -1em

    &:after{
        display: inline-block;
        content: '';
        width: 100%;
    }
}

ol, ul, .grid
    list-style none
    font-size 0
    line-height 0
    letter-spacing -1px


li, .grid-item
    line-height normal
    letter-spacing normal
    display inline-block
    vertical-align top
    zoom 1

.shadow
    box-shadow 0 0 4px rgba(0,0,0,0.3)


// width

.width--two-thirds
    width 660px
    display inline-block
    vertical-align top

    @media sm
        width 500px
    @media xs
        display block
        width auto
    @media xxs
        display block
        width auto

aside
    width 230px
    display inline-block
    vertical-align top

    @media sm
        width 200px
    @media xs
        display block
        width auto
    @media xxs
        display block
        width auto

textarea.error,
input.error
    border 1px solid #f00 !important

.hidden-block
    display none !important
