.showroom-content
    p
        line-height 21px

    .photo-list
        margin-top 31px
        margin-bottom 30px
        margin-left -16px

        @media sm
            margin-left -4.9%
        @media xs
            text-align center
        @media xxs
            margin-left -2%

        &__el
            display inline-block
            vertical-align top
            margin-left 16px
            margin-bottom 19px
            width 218px

            @media sm
                width 20%
                margin-left 4.9%

            @media xs
                width 150px
            @media xxs
                width 45%
                margin 0 2% 4%

            a,
            a img
                position relative
                display block
                width 100%
            a
                height 100%
                img
                    height auto

            a:after
                opacity 0
                position absolute
                content ''
                top 0
                right 0
                bottom 0
                left 0
                background rgba(0,159,195.0.6) url("/static/img/icon--zoom.png") no-repeat 50% 50%
                transition opacity 0.2s
                -webkit-transition opacity 0.2s

            a:hover:after
                opacity 1