.contacts-content
    .justifyed
        @media sm
            padding-right 380px
        @media xxs
            width 100%

    .breadcrumbs
        padding-bottom 13px

    h2
        padding-bottom 14px

    h3
        padding-bottom 32px

    .contacts
        width 480px
        display inline-block
        vertical-align top

        @media sm
            width 98%
        @media xs
            width 100%
        @media xxs
            width 100%

    .feedback
        width 370px
        display inline-block
        vertical-align top

        @media sm
            margin-right -380px
        @media xs
            display block
            margin 0 auto 30px
        @media xxs
            display block
            width 280px
            margin 0 auto 30px

        h2
            padding-bottom 33px

        label
            display block
            margin-bottom 11px

            span
                font-size 15px
                display block
                margin-bottom 5px

            .form-input
                width 360px
                padding-left 10px
                height 37px
                line-height 37px
                outline none
                box-shadow inset 0 1px 4px #888
                font-size 15px
                border 1px solid transparent
                @media xxs
                    width 270px

            textarea.form-input
                height 120px
                margin-bottom 8px
                @media xxs
                    width 267px

        .btn
            font-size 20px
            height 47px
            line-height 47px
            @media xxs
                width 280px

    .contacts-block
        margin-bottom 40px

        p
            margin-bottom 15px

            span
                display block
                font-size 15px

            .contacts-tel
                font-size 20px
                color #000000

            .contacts-mail
                color #000000
                padding-left 5px

    .map
        height 330px
        margin-bottom 30px