.news-content
    .news-list

        &__el
            display block
            margin-bottom 40px
            @media sm
                padding-left 200px
            @media xs
                padding-left 150px

            &-img
                width 180px
                height 140px
                position relative
                display inline-block
                vertical-align top
                margin-right 25px
                overflow hidden

                @media sm
                    margin-left -200px
                    margin-right auto

                @media xs
                    margin-left -150px
                    margin-right 20px
                    width 130px
                    height auto
                @media xxs
                    display none

                img
                    min-width 100%
                    min-height 100%

            &-img:after
                opacity 0
                position absolute
                content ''
                top 0
                right  0
                bottom  0
                left 0
                background rgba(0,159,195.0.6) url("/static/img/icon--link-hover.png") no-repeat 50% 50%
                transition opacity 0.2s
                -webkit-transition opacity 0.2s

            &-img:hover:after
                opacity 1

            &-content
                display inline-block
                vertical-align top
                width 660px
                @media sm
                    width auto
                @media xs
                    width auto
                @media xxs
                    width 100%

                .news-list__el-content-title
                    display block
                    margin-bottom 10px

                    a
                        font-size 20px
                        font-family "Roboto Condensed", sans-serif
                        font-weight 700
                        color #000000

                .news-list__el-content-date
                    display block
                    margin-bottom 5px
                    font-size 14px
                    color $cGrey
                    font-family $font

                p
                    font-size 15px
                    margin-bottom 10px
                    line-height 20px

                .news-list__el-content-more
                    display inline-block
                    vertical-align top
                    text-decoration underline

