.basket-content
    .basket-wrap
        .basket
            width 100%
            border-collapse collapse
            border-spacing 0

            td,
            th
                border none
            .basket__line
                display table-row
                td
                    vertical-align middle
                    @media xs
                        vertical-align top
                    @media xxs
                        vertical-align top

                span
                    font-size 13px
                    display block
                    padding 16px 0 13px

                .basket__line-name
                    width 19%
                    padding-left 2%
                    span
                        text-align left
                        display block
                        padding-right 4%

                .basket__line-article
                    width 15%
                    @media xs
                        width 0.1%
                    @media xxs
                        width 0.1%
                    span
                        color  $cGrey
                        display block
                        text-align left
                        @media xs
                            display none
                        @media xxs
                            display none

                .basket__line-price
                    width 10%
                    text-align center
                    @media xs
                        width 15%
                    @media xxs
                        width 15%

                .basket__line-number
                    width 38%
                    text-align center
                    @media xs
                        width 43%
                    @media xxs
                        width 43%

                    .input_number
                        display inline-block
                        vertical-align middle
                        width 24px
                        height 30px
                        line-height 30px
                        outline none
                        border none
                        text-align center
                        box-shadow inset 0 1px 4px #888888
                        margin-right 27px
                        @media xs
                            margin-top 13px
                        @media xxs
                            display block
                            height 24px
                            line-height 24px
                            margin 13px auto 0

                    .basket__line-refresh
                        width 21px
                        height 25px
                        display inline-block
                        vertical-align middle
                        background url("/static/img/icon--refresh.png") no-repeat 0 0
                        margin-right 16px
                        @media xs
                            margin-top 13px
                        @media xxs
                            margin-top 13px

                    .basket__line-delete
                        width 18px
                        height 18px
                        display inline-block
                        vertical-align middle
                        background url("/static/img/icon--delete.png") no-repeat 0 0
                        @media xs
                            margin-top 13px
                        @media xxs
                            margin-top 13px

                .basket__line-total
                    width 18%
                    text-align center
                    @media xs
                        width 23%
                    @media xxs
                        width 23%

                .basket__line-text
                    width 750px
                    text-align right
                    span
                        font-weight 800
                        padding-right 10px

            .basket__line-caption.basket__line
                background #eeeeee
                .basket__line-article
                    span
                        color #000000

            .table-sub-total
                .basket__line-name
                    width 80%
                    @media xs
                        width 65%
                    @media xxs
                        width 65%
                    span
                        display block
                        text-align right
                        font-weight 700
                        padding-right 0

            .basket__discount
                border-bottom 1px solid #000000
                .basket__discount-input
                    width 65%
                    padding-bottom 20px
                    span
                        display block
                        padding-bottom 5px

                    input
                        display inline-block
                        vertical-align top
                        height 35px
                        line-height 35px
                        outline none
                        border none
                        box-shadow inset 0 1px 4px #888888
                        padding-left 10px
                        width 55%
                        text-align left
                        @media xs
                            width 100%
                        @media xxs
                            width 100%

                    .basket__discount-input-send
                        display inline-block
                        vertical-align top
                        width 35%
                        height 37px
                        line-height 37px
                        font-size 20px
                        margin-left 2%
                        @media sm
                            font-size 18px
                            margin-left 10px
                        @media xs
                            width 65%
                            font-size 16px
                            margin-left 0
                            margin-top 10px
                        @media xxs
                            width 65%
                            font-size 14px
                            margin-left 0
                            margin-top 10px

                .basket__discount-text
                    width 13%
                    text-align right
                    span
                        font-weight 700

            .basket__total
                td
                    vertical-align middle
                .table__total-link
                    width 65%
                    padding-left 2%
                    .basket__total-back
                        display inline-block
                        vertical-align middle
                        color $cBlue
                        text-decoration underline
                        text-align left

                .basket__total-text
                    width 13%
                    text-align right
                    span
                        font-weight 700
                        font-size 13px

                .basket__total-total
                    width 18%
                    text-align center
                    span
                        font-size 18px

        .basket__send
            display block
            margin-top 60px
            text-align right
            padding 0 10px

            .basket__send-link
                width 315px
                display inline-block
                vertical-align top

    .basket-empty-text
        color $cBlue
        font-family "Roboto Condensed", sans-serif
        font-size 20px
        line-height 32px
        padding 0 15px 20px