.about-content
    .breadcrumbs
        padding-bottom 13px

    h3
        padding-bottom 20px

    .justifyed
        margin-bottom 20px

    .about-text
        width 310px
        display inline-block
        vertical-align top

        @media sm
            width 33%
        @media xs
            width 100%
        @media xxs
            width 100%

    .about-slider
        display inline-block
        vertical-align top
        width 280px

        @media sm
            width 30%
        @media xs
            width 280px
            text-align center
            margin 0 auto 20px
            display block
        @media xxs
            width 280px
            text-align center
            margin 0 auto 20px
            display block

        .owl-item
            li
                width 280px
                height 280px
                overflow hidden

                @media sm
                    width 100%
                    height auto

                img
                    min-width 100%
                    min-height 100%
                    border-radius 280px


    .right-text
        @media sm
            width 33%
        @media xs
            width 100%
        @media xxs
            width 100%

        p
            text-align right
            @media xs
                text-align left
            @media xxs
                text-align left

    p
        font-size 14px
        line-height 25px
        margin-bottom 20px
        text-align left