.list-content
    .breadcrumbs
        padding-bottom 39px

    .list
        p
            padding-bottom 25px


    .justifyed
        @media sm
            padding-right 200px

        .width--two-thirds
            @media sm
                width 98%

        aside
            @media sm
                margin-right -200px

        p
            text-align left
