.post-content
    date
        font-size 14px
        color $cGrey
        font-family $font
        padding-bottom 10px
        display block
        margin-bottom 6px

    .post
        .post-img
            float left
            margin-bottom 30px
            margin-right 30px
            width 490px

            @media sm
                width 47%
                margin-right 3%
                margin-bottom 3%
            @media xs
                width 47%
                margin-right 3%
                margin-bottom 3%
            @media xxs
                width 100%
                margin-bottom 25px
                float none

            .post-img-l
                width 100%
                margin-bottom 20px

            .justifyed
                white-space nowrap

                .post-img-s:first-child
                    margin-right 20px

                    @media sm
                        margin-right 10%
                    @media xs
                        margin-right 10%
                    @media xxs
                        margin-right 10%

                .post-img-s
                    display inline-block
                    vertical-align top
                    width 235px

                    @media sm
                        width 45%
                    @media xs
                        width 45%
                    @media xxs
                        width 45%

        p
            font-size 15px
            line-height 20px
            margin-bottom 20px

    .share
        padding 0 17px 20px

    .link-back
        text-decoration underline
        margin-left 17px
        display inline-block
        vertical-align top
        padding-bottom 20px