.index-content
    .width--two-thirds
        margin-left 3px

    .justifyed
        @media sm
            padding-right 200px

        .width--two-thirds
            @media sm
                width 98%

        aside
            @media sm
                margin-right -200px