.registration-content
    .justifyed
        @media sm
          padding-left 330px

    .registration
        width 370px
        margin-left 12px
        display inline-block
        vertical-align top

        @media sm
            width 300px
            margin-left -330px
        @media xs
            display block
            width 300px
            margin 0 auto 30px
        @media xxs
            display block
            width auto
            margin 0 auto 30px

        input
            width 355px
            @media sm
                width 285px
            @media xs
                width 285px
            @media xxs
                width 270px

    .has-registration
        width 315px
        margin-left 20px
        display inline-block
        vertical-align top

        @media sm
            margin-left -330px
        @media xs
            display block
            width 300px
            margin 0 auto 30px
        @media xxs
            display block
            width auto
            margin 0 auto 30px

        .link
            margin-top 10px
            display block

            a
                display inline-block
                vertical-align top
                text-decoration underline

        input
            width 295px
            outline none
            @media xxs
                width 270px

        .btn
            width 310px
            @media xxs
                width 100%

        .social
            width 288px
            margin-bottom 20px

            li
                width 140px
                display inline-block
                vertical-align top
                margin-bottom 13px

                a
                    width auto
                    display block

                    img
                        display inline-block
                        vertical-align top
                        margin-right 5px

                    span
                        font-size 16px
                        display inline-block
                        vertical-align top
                        line-height 16px

        .input-checkbox
            display none

        .input-checkbox+span
            height 12px
            background url("/static/img/sprite-checbox.png") no-repeat 0 -12px
            line-height 12px
            padding-left 20px
            cursor pointer

        .input-checkbox:checked+span
            background url("/static/img/sprite-checbox.png") no-repeat 0 0


    .registration,
    .has-registration

        label
            display block
            margin-bottom 14px

            span
                display block
                font-size 15px
                margin-bottom 4px

                i
                    color $cBlue
                    font-style normal

            input
                padding-left 15px
                height 35px
                border 1px solid transparent
                line-height 35px
                box-shadow: inset 0 1px 4px #888
                font-size 15px

        span
            display block
            font-size 14px
            margin-bottom 18px

            i
                color $cBlue
                padding-right 5px
                font-style normal

        .btn
            height 48px
            line-height 48px
            font-size 20px

        .error-message
            display block
            margin-top 10px
            color #f00

    .benefit
        width 480px
        display inline-block
        vertical-align top
        @media sm
            width 95%
        @media xs
            width 100%
            display block
        @media xxs
            width 100%
            display block

        ul
            margin-top 15px

            li
                display block
                position relative
                padding-bottom 17px
                padding-left 21px
                color #000000
                font-size 14px
                font-family $font

            li:before
                position absolute
                top 4px
                left 4px
                content ''
                width 7px
                height 7px
                background $cBlue
                border-radius 7px

        .benefit-btn
            width 210px
            height 38px
            line-height 38px
            font-size 18px
            background #b3b3b3
            margin-top 15px

    h2
        padding-bottom 19px