.construct-content
    .breadcrumbs
        padding-bottom 13px

    h3
        padding-bottom 47px

    .constructor
        @media sm
            padding-left 320px

        &-img
            display inline-block
            vertical-align top
            position relative
            width 415px
            height 370px
            margin-left 13px

            @media sm
                width 300px
                margin-left -320px

            @media xs
                width 268px
                display block
                margin 0 auto
            @media xxs
                width 268px
                display block
                margin 0 auto

            img
                position absolute

            .constructor-img-dial
                width 158px
                height 152px
                top 75px
                left 39px

                @media xs
                    left 20px
                @media xxs
                    left 20px

            .constructor-img-braclet
                width 268px
                height 360px
                top -12px
                left 14px

                @media xs
                    left 0
                @media xxs
                    left 0

            div
                position absolute
                z-index 5
                width 20px
                height 36px
                background url("/static/img/sprite-arrow.png") no-repeat 0 0
                cursor pointer

            .arrow-prev
                top 25px
                left 0
                background url("/static/img/sprite-arrow.png") no-repeat 0 0
                @media xs
                    left -25px
                @media xxs
                    left -25px


            .arrow-next
                top 25px
                right 0
                background url("/static/img/sprite-arrow.png") no-repeat -20px 0
                @media xs
                    right -25px
                @media xxs
                    right -25px

            .bracelet-next,
            .bracelet-prev
                top 315px

        &-content
            display inline-block
            vertical-align top
            width 460px
            margin-left 30px
            margin-top 18px

            @media sm
                width auto
            @media xs
                width 100%
                margin-left 0
            @media xxs
                width 100%
                margin-left 0

            &__dial
                display block
                margin-bottom 70px

                li
                    display inline-block
                    vertical-align top
                    margin-right 7px
                    margin-bottom 3px
                    cursor pointer

                    img
                        width 30px
                        height 30px

            &__bracelet
                display block
                margin-bottom 45px

                li
                    display inline-block
                    vertical-align top
                    margin-right 7px
                    margin-bottom 3px
                    cursor pointer

                    img
                        width 30px
                        height 30px

        &-info
            display inline-block
            vertical-align top
            width 280px
            @media xxs
                display block
                margin-bottom 30px

            div
                display block
                text-align left
                margin-bottom 4px

                span.title
                    display inline-block
                    vertical-align top
                    width 88px
                    font-size 13px
                    color #999999

                span.value
                    display inline-block
                    vertical-align top
                    width 190px
                    font-size 14px
                    color #333333

                div
                    display inline-block
                    vertical-align top

                    label
                        display inline-block
                        vertical-align top
                        width 20px
                        height 20px
                        margin-right 2px

                        input
                            display none

                        span
                            display block
                            width 20px
                            height 20px
                            color #FFFFFF
                            font-size 12px
                            text-align center
                            line-height 20px
                            background: rgb(125,126,125); /* Old browsers */
                            background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(53,54,53,1) 100%); /* FF3.6+ */
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(53,54,53,1))); /* Chrome,Safari4+ */
                            background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(53,54,53,1) 100%); /* Chrome10+,Safari5.1+ */
                            background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(53,54,53,1) 100%); /* Opera 11.10+ */
                            background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(53,54,53,1) 100%); /* IE10+ */
                            background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(53,54,53,1) 100%); /* W3C */
                            cursor pointer

                        input:disabled + span
                            background: rgb(190,191,190); /* Old browsers */
                            background: -moz-linear-gradient(top,  rgba(190,191,190,1) 0%, rgba(154,155,154,1) 100%); /* FF3.6+ */
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(190,191,190,1)), color-stop(100%,rgba(154,155,154,1))); /* Chrome,Safari4+ */
                            background: -webkit-linear-gradient(top,  rgba(190,191,190,1) 0%,rgba(154,155,154,1) 100%); /* Chrome10+,Safari5.1+ */
                            background: -o-linear-gradient(top,  rgba(190,191,190,1) 0%,rgba(154,155,154,1) 100%); /* Opera 11.10+ */
                            background: -ms-linear-gradient(top,  rgba(190,191,190,1) 0%,rgba(154,155,154,1) 100%); /* IE10+ */
                            background: linear-gradient(to bottom,  rgba(190,191,190,1) 0%,rgba(154,155,154,1) 100%); /* W3C */
                            cursor default

                        input:checked + span
                            background  $cBlue
                            cursor default


        &-pay
            display inline-block
            vertical-align top
            width 175px
            text-align center
            @media xxs
                display block
                margin 0 auto 30px

            .btn
                font-size 15px
                height 37px
                line-height 37px
                margin-bottom 10px

                i
                    font-style normal
                    padding 0 3px

            span
                display block
                margin-bottom 5px

            .product__info-purchade
                color #000000
                font-size 14px
                display inline-block
                vertical-align top
                text-decoration underline
              
    .product-form
        @media xs
            text-align justify
            margin-bottom -1em

    .product-form:after
        @media xs
            display inline-block
            content ''
            width 100%
