    #screenshot
      position absolute
      border 1px solid $cBlue
      background #fff
      padding 5px
      display none
      color #fff
      z-index 3

.product-content

    .product-type
        padding-bottom  16px

        @media xs
            text-align center

        &__el
            display inline-block
            vertical-align top
            width 240px
            padding 10px 25px
            min-height 130px
            border-radius 3px
            text-align left

            @media sm
                width 25%

            @media xs
                width 30%
                margin 0 2% 5%
                padding 10px  5px
            @media xxs
                display block
                width 260px
                margin 0 auto 20px
                padding 10px
                min-height 0px

            span
                font-family "Roboto Condensed", sans-serif
                color $cGrey
                font-size 16px
                display block

            .product-type__list
                display block
                width 230px

                @media sm
                    width auto
                @media xs
                    width auto
                @media xxs
                    width auto

                li
                    display inline-block
                    vertical-align top
                    width 30px
                    height 40px
                    margin-right 15px
                    margin-top 20px

                    @media sm
                        margin-right 5px
                        margin-bottom 5px

                    @media xs
                        margin-right 5px
                        margin-bottom 5px
                    @media xxs
                        margin-right 5px
                        margin-bottom 5px
                        margin-top 5px
                        height auto

                    img
                        width 100%

    .product__info
        @media sm
            padding-right 210px
        @media xxs
            text-align center

        div
            display inline-block
            vertical-align top

        &-text
            width 340px
            text-align center

            @media sm
                width 45%

            @media xs
                width 45%
            @media xxs
                width 100%
                margin 0 auto 20px
                display block

            p
                font-size 11px
                line-height 18px
                margin-bottom 5px

            img
                display block
                width 300px
                margin 0 auto

        &-img
            width 268px
            margin-top 60px

            @media sm
                width 45%

            @media xs
                width 45%
            @media xxs
                display block
                margin 0 auto 20px

            img
                width 100%

        &-purchase
            width 225px
            padding 25px 21px 20px
            text-align center
            border-radius 5px
            margin-top 37px
            display inline-block
            vertical-align top

            @media sm
                margin-right -270px

            @media xs
                display block !important
                margin 10px auto 30px
            @media xxs
                display block !important
                margin 0 auto 30px

            span
                display block
                text-align center
                font-family "Roboto Condensed", sans-serif

            &-name
                font-size 18px
                padding-bottom 20px

            &-price
                font-size 30px
                font-weight 700
                padding-bottom 22px

            .btn
                height 39px
                line-height 39px
                font-size 18px
                margin-bottom 17px

            .product__info-purchase-discount
                color $cBlue
                font-size 15px
                margin-bottom 5px
                font-family "Roboto Condensed", sans-serif

            .product__info-purchade-popup
                color #000000
                font-size 15px
                text-decoration underline
                font-family "Roboto Condensed", sans-serif

            .fancybox
                text-decoration underline
                font-size 14px
                font-family "Roboto Condensed", sans-serif
                color #000000
                font-weight 700

    .yashare-auto-init
        display block
        text-align center
        margin-bottom 25px

    .bag-list
        margin-left -5px
        margin-bottom 20px

        .bag-list__el
            width 40px
            height 40px
            margin-bottom 2px
            margin-right 2px

            a
                display block

                img
                    width 100%

    .product__about
        padding-top 4px

        &-text
            width 330px
            display inline-block
            vertical-align top

            @media sm
                width 45%
                margin-right 4%

            @media xs
                width 100%
            @media xxs
                width 100%

            p
                margin-bottom 20px
                color #555555
                line-height 18px

                span
                    display block
                    color #555555

        &-img
            width 580px
            display inline-block
            vertical-align top
            margin-top 40px

            @media sm
                width 50%

            @media xs
                width 80%
                margin 0 10% 30px
            @media xxs
                width 80%
                margin 0 10% 30px

            img
                width 100%
