.delivery-content

    h3
        padding-bottom 35px

    .checkout-ok
        color $cBlue
        font-family "Roboto Condensed", sans-serif
        font-size 20px
        line-height 32px
        padding 0 15px 20px

    .b-share
        margin-left 10px


    .form-delivery
        width 735px
        margin-left 23px

        @media sm
            width auto
            margin 0 15px
        @media xs
            width auto
            margin 0 15px
        @media xxs
            width auto
            margin 0

        .form-input
            display inline-block
            vertical-align top
            height 26px
            line-height 26px
            outline none
            border 1px solid #c1c5c8
            box-shadow inset 0 2px 3px #e8eaeb
            border-radius 3px
            padding-left 15px

        h2
            display block
            border-bottom  1px solid #e6e6e6
            padding-bottom 10px
            margin-top 10px

        &__customer
            margin-bottom 45px

            h2
                margin-bottom 27px

            label
                display block
                margin-bottom 16px

                span
                    display inline-block
                    vertical-align top
                    width 145px
                    font-size 14px
                    padding-top 7px
                    @media  xxs
                        width 80px

                    i
                        color $cBlue

                input
                    height 26px
                    line-height 26px

        &__summ
            margin-bottom 47px

            h2
                margin-bottom 32px

            div
                display block
                margin-bottom 12px

                span
                    display inline-block
                    vertical-align top
                    font-size 15px

                .title
                    width 85px
                    text-align right

                .value
                    width 150px
                    text-align right

            .form-delivery__summ-total
                span
                    font-weight 700
                    vertical-align baseline

                .value
                    font-size 22px
                    line-height 14px


        &__payment,
        &__type
            margin-bottom 30px

            h2
                margin-bottom 26px

            label
                display block
                margin-bottom 11px


                input[type = radio]
                    display none

                img
                    display inline-block
                    vertical-align top
                    width 104px
                    height 64px
                    border 2px solid transparent
                    margin-right 25px
                    border-radius 3px
                    cursor pointer

                    @media sm
                        margin-left -130px
                        margin-right 15px
                    @media xs
                        display block
                    @media xxs
                        display block

                .label-content
                    display inline-block
                    vertical-align top
                    width 465px
                    margin-right 10px
                    padding-top 10px

                    @media sm
                        width 96%
                    @media xs
                        width 95%
                    @media xxs
                        width 95%

                    span
                        display block
                        font-size 14px
                        padding-bottom 8px
                        color $cGrey
                        text-align left

                    .title
                        color #000000

                .label-price
                    display inline-block
                    vertical-align top
                    width 110px
                    padding-top 13px
                    @media sm
                        margin-right -110px
                    @media xs
                        margin-right -110px
                    @media xxs
                        position absolute
                        top 0
                        right 0

                    span
                        display block
                        text-align center
                        margin-bottom 9px
                        font-size 15px
                        font-family $font_cond

                .label-hidden
                    display none

                input:checked + .label-wrap
                    img
                        box-shadow none
                        border 2px solid $cBlue

                    .label-hidden
                        display block
                        padding-top 20px

            .label-wrap
                @media sm
                    padding-left 130px
                    padding-right 110px

        &__payment
            margin-bottom 45px

        &__type
            label
                margin-bottom 22px

                .label-wrap
                    @media xs
                        padding-right 110px
                    @media xxs
                        position relative

                .label-hidden
                    span
                        display inline-block
                        vertical-align middle
                        color $cGrey
                        width 215px
                        font-size 15px
                        line-height 30px

                    .form-input
                        width 385px


                    .label-l
                        display block
                        margin-bottom 11px

                        span
                            display inline-block
                            vertical-align top
                            width 110px
                            text-align right
                            margin-right 15px
                            line-height 35px
                            color $cGrey
                            font-size 15px

                        input
                            width 385px

                    .label-s
                        span:first-child
                            width 110px
                            margin-right 15px

                        span
                            display inline-block
                            vertical-align top
                            text-align right
                            margin-right 10px
                            line-height 35px
                            color $cGrey
                            font-size 15px
                            width 80px

                        input
                            width 54px

        &__comment
            border-bottom  1px solid #e6e6e6
            margin-bottom 30px

            h2
                margin-bottom 40px

            .form-input
                width 650px
                margin-left 30px
                height 118px
                margin-bottom 30px

                @media sm
                    width 90%
                    margin-left 4%
                @media xs
                    width 90%
                    margin-left 4%
                @media xxs
                    width 90%
                    margin-left 4%

        .btn
            width 373px
            font-size 20px
            line-height 47px
            height 47px
            margin-bottom 40px
            @media xxs
                width 100%