.sertificate-content
    .justifyed
        padding 0 25px 20px

        @media sm
            padding 0 260px 20px 0
        @media xxs
            padding 0 0 20px

        .sertificate-img
            display inline-block
            vertical-align top
            width 255px
            margin-top 15px

            @media sm
                width 35%
                margin-right 3%
            @media xs
                width 35%
                margin-right 3%
            @media xxs
                width 100%
                margin-top 0

        .sertificate-text
            display inline-block
            vertical-align top
            width 270px
            margin-top 12px

            @media sm
                width 55%
            @media xs
                width 55%

            p
                padding-bottom 15px
                font-size 15px
                line-height 17px
                text-align left

        .sertificate-purchase
            display inline-block
            vertical-align top
            width 225px
            padding 20px
            border-radius 7px

            @media sm
                margin-right -260px
            @media xs
                display block
                margin 20px auto
            @media xxs
                display block
                margin 20px auto

            .title
                font-weight 700
                display block
                text-align center
                font-family "Roboto Condensed", sans-serif
                font-size 18px
                margin-bottom 32px

            label
                display block
                margin-bottom 12px

                input
                    display inline-block
                    vertical-align top
                    margin-left 28px
                    margin-top 11px

                span
                    display inline-block
                    vertical-align top
                    padding-left 30px
                    width 150px
                    font-weight 700
                    font-size 26px
                    letter-spacing -1px

            .btn
                height 38px
                line-height 38px
                font-size 20px
                margin-top 34px

    .b-share
        margin-left 20px
        @media sm
            margin-left 0
        @media xs
            margin-left 0
        @media xxs
            margin-left 0


