.popup-block
    width 320px

    span
        font-size 15px
        color #000000
        margin-bottom 5px
        display block

    .title
        margin-bottom 15px

    form,
    form label,
    form label span,
    form label input
        display block

    form label
        margin-bottom 15px

        .form-input
            width 300px
            border 1px solid #FFFFFF
            padding-left 13px
            box-shadow inset 0 2px 5px #888888
            height 38px
            outline none
            font-size 15px
            color $cGrey

        .form-input:-moz-placeholder,
        .form-input:-ms-input-placeholder,
        .form-input::-webkit-input-placeholder
            font-size 15px
            color $cGrey

    .btn
        width 314px
        overflow hidden

    .social
        display block
        width 100%
        margin-bottom 25px

        li
            display inline-block
            vertical-align top
            width 48%
            margin-bottom 5px

            a
                display block
                width auto

                img,
                span
                    display inline-block
                    vertical-align top

                span
                    padding-left 10px

    .link
        margin-top 10px
        display block

        a
            display inline-block
            vertical-align top
            text-decoration underline

    .input-checkbox
        display none

    .input-checkbox+span
        height 12px
        background url("/static/img/sprite-checbox.png") no-repeat 0 -12px
        line-height 12px
        padding-left 20px
        cursor pointer

    .input-checkbox:checked+span
        background url("/static/img/sprite-checbox.png") no-repeat 0 0
