
<div class="popup-block">
  <h2>Вход на сайт</h2><span class="title">Войти через соц.сети</span>
  <ul class="social">
    <li><a href="#"><img src="/static/img/social-vk.png"/><span>Вконтакте</span></a></li>
    <li><a href="#"><img src="/static/img/social-ml.png"/><span>МойМир</span></a></li>
    <li><a href="#"><img src="/static/img/social-fb.png"/><span>Facebook</span></a></li>
    <li><a href="#"><img src="/static/img/social-gl.png"/><span>Google+</span></a></li>
  </ul>
  <form action="/static/js/ajax/has-registration.php" method="post" class="mail-form">
    <label><span>Телефон или e-mail</span>
      <input placeholder="Начните ввод..." name="name" type="text" class="form-input required"/>
    </label>
    <label><span>Пароль</span>
      <input placeholder="Начните ввод..." name="password" type="password" class="form-input required"/>
    </label>
    <label>
      <input type="checkbox" name="login_remember" class="input-checkbox"/><span>Запомнить меня</span>
    </label><a class="form-submit btn js-form-submit">Отправить</a><span class="error-message hidden-block">Такая комбинация логина и пароля не найдена. Пожалуйста, проверьте правильность ввода</span>
  </form>
  <div class="link"><a href="#">Забыли пароль?</a></div>
  <div class="link"><a href="#">Регистрация</a></div>
</div>