
<ul class="popup-full__list">
<li data_id="handler_01" class="popup-full__list__el"><img src="/media/product--bag-s-1.jpg">
  <div class="popup-full__list__el-content"><span class="popup-full__list__el-content-number">2 х</span><span class="popup-full__list__el-content-name">кисти шоколадные ЭКО-кожа</span><span class="popup-full__list__el-content-price rouble">980.00</span></div>
</li>
</ul>
<div class="popup-full__total"><span class="popup-full__total-number">2 товара</span><span class="popup-full__total-price rouble">980.00</span><a href="#" class="popup-full__total-link">Показать корзину</a></div>
