aside
    .banner
        display block
        margin-bottom 15px
        text-align center

        @media xs
            display inline-block
            vertical-align top
            width 30%
            margin 0 1.5% 15px
        @media xxs
            display inline-block
            vertical-align top
            width 45%
            margin 0 1.5%  15px

    .banner__type-1
        padding 18px
        @media xs
            width 26%
            padding 2%
        @media xxs
            width 41%
            padding 2%

        .title
            font-family "roboto condensed", sans-serif
            font-size 16px
            text-transform uppercase

        a,
        img
            display block
            width 100%
            margin-bottom 11px

        .btn
            height 33px
            line-height 33px
            font-size 18px
            font-family "roboto condensed", sans-serif
            margin-bottom 0

    .banner.banner__type-2
        .title
            font-size 18px
            text-transform uppercase
            font-weight 700

        img
            display block
            width 100%
            margin-bottom 11px

    .banner.banner__type-3
        .shadow
            display block
            padding 10px 20px
            margin-bottom 10px

            img
                display block
                width 100%

        span
            display block
            font-size 20px
            font-weight 700

.horisontal-banner
    padding-bottom 40px

    a
        display inline-block
        vertical-align top

        img
            display inline-block
            vertical-align middle

        span
            display inline-block
            vertical-align middle
            font-size 20px
            font-weight 700
            width 170px
            text-align center
