.breadcrumbs
    display block
    padding 18px 0 15px

    li
        position relative
        margin-right 10px

        a
            display inline-block
            vertical-align top
            font-size 11px
            text-decoration underline
            color #000000

        span
            display inline-block
            vertical-align top
            font-size 11px

    li:after
        position absolute
        content '/'
        font-size 11px
        right -5px
        top 1px

    li:last-child:after
        content ''
