.carousel
    width 850px
    height 190px
    display block
    margin 0 auto !important

    @media sm
        width 680px
    @media xs
        width 510px
    @media xxs
        width 240px

    .owl-item
        width 170px !important
        text-align center
        @media xxs
            width 120px !important

    li
        width 145px
        padding-top 5px
        margin-left 0
        @media xxs
            width 120px

        a
            display block

            span
                @media xxs
                    padding 0 5px
                    font-size 14px

    .owl-nav
        div
            position absolute
            z-index 3
            width 20px
            height 36px
            top 38px
            background url("/static/img/sprite-arrow.png") no-repeat 0 0

        .owl-prev
            left -36px

        .owl-next
            right -36px
            background url("/static/img/sprite-arrow.png") no-repeat -20px 0