.footer
    left 50%
    width 930px
    margin-left -480px
    white-space nowrap

    .page-contene
        position relative

    @media sm
        width auto
        left 0
        margin-left 0
    @media xs
        width auto
        left 0
        margin-left 0
    @media xxs
        width auto
        left 0
        margin-left 0

    &__left-block,
    &__right-block,
    &__links
        display inline-block
        vertical-align top


    &__left-block
        width 490px

        @media sm
            display block
            width auto
            padding-right 360px
        @media xs
            display block
            width auto
            padding-right 180px
        @media xxs
            display block
            width auto
            padding-right 180px

        .footer__pay
            display block
            padding-bottom 22px

            @media sm
                white-space normal
            @media xs
                white-space normal
            @media xxs
                white-space normal
                padding-bottom 10px

            li
                margin-right 10px
                @media xxs
                    display block
                    margin-bottom 5px

        .footer__social
            display block

            span
                font-size 16px
                display inline-block
                vertical-align middle
                margin-top -6px

    &__links
        width 250px
        text-align center

        @media sm
            position absolute
            top 0
            right 200px
            width 180px
        @media xs
            position absolute
            top 0
            right 5px
            width 180px
            height 80px
            text-align right
        @media xxs
            position absolute
            top 0
            right 5px
            width 180px
            height 80px
            text-align right

        a
            display inline-block
            vertical-align top
            margin 4px 10px 0

            @media xs
                display block
            @media xxs
                display block

        a:hover
            text-decoration underline

    &__right-block
        width 180px
        text-align right

        @media sm
            position absolute
            top 0
            right 15px
        @media xs
            position absolute
            top 55px
            right 15px
        @media xxs
            position absolute
            top 63px
            right 15px

        span
            display block
            line-height 16px
            letter-spacing -1px
            @media xxs
                line-height 18px
                font-size 14px

            a
                padding-left 10px

            a:hover
                text-decoration underline

        .footer__phone
            font-size 22px
            font-weight 700
            @media xxs
              font-size 18px

