.header
    padding 13px 0 30px
    position relative
    z-index 5

    &__logo
        display inline-block
        vertical-align top
        width 410px
        height 79px
        background url("/static/img/header-logo.png") no-repeat 0 0
        margin-left 7px
        margin-top 4px
        cursor: pointer

        @media sm
            display none
        @media xs
            display none
        @media xxs
            display none

        span
            display block
            margin-top 59px
            margin-left 90px
            color $cGrey
            font-size 15px
            font-family "Roboto Condensed", sans-serif

            @media sm
                display none
            @media xs
                display none
            @media xxs
                display none

    &__content
        display inline-block
        vertical-align top
        text-align right

        @media sm
            width 100%
        @media xs
            width 100%
        @media xxs
            width 100%

    &__links
        display block
        text-align right
        margin-right 3px
        padding-bottom 19px

        @media xxs
            padding-left 100px

        ul
            width 90px

        a, ul
            display inline-block
            vertical-align top

        &-link
            font-size 15px
            letter-spacing -1px
            margin-right 28px

            @media xxs
                position absolute

        &-link:nth-child(1)
            @media xxs
                top 13px
                left 5px

        &-link:nth-child(2)
            @media xxs
                top 33px
                left 5px

        &-link:hover
            text-decoration underline

        .header__links-name
            font-size 15px
            margin-right 7px
            color #000000

            @media xxs
                display block
                margin-right 5px
                margin-bottom 5px

    &__contacts
        display inline-block
        vertical-align top
        margin-right 14px
        text-align right
        @media xxs
            margin-right 5px

        &-phone
            display block
            font-size 30px
            font-weight 700
            letter-spacing -1px
            padding-bottom 3px

            @media xxs
                font-size 16px

        &-popup
            display inline-block
            vertical-align top
            font-size 14px
            text-decoration underline
            color $cGrey
            @media xxs
                font-size 12px


    .header__content-bottom
        display block

        .header__logo-mobile
            display none

            @media sm
                display inline-block
                vertical-align top
                width 78px
                height 79px
                background url("/static/img/header-logo-mobile.png") no-repeat 0 0
                margin-left 15px
            @media xs
                display inline-block
                vertical-align top
                width 78px
                height 79px
                background url("/static/img/header-logo-mobile.png") no-repeat 0 0
                margin-left 15px
            @media xxs
                display inline-block
                vertical-align top
                width 50px
                height 50px
                background url("/static/img/header-logo-mobile.png") no-repeat 0 0
                background-size 100%
                margin-left 5px

        .header__menu-mobile
            display none

            @media sm
                display inline-block
                vertical-align top
                padding-left 40px
                height 24px
                font-weight 700
                background url("/static/img/icon--menu-mobile.png") no-repeat 0 0
                color $cGrey
                margin-top 16px
                margin-right 30px
            @media xs
                display block
                padding-left 40px
                height 24px
                font-weight 700
                background url("/static/img/icon--menu-mobile.png") no-repeat 0 0
                color $cGrey
                margin-top 16px
                margin-right 30px
            @media xxs
                display block
                height 20px
                font-weight 700
                background-size auto 100%
                color $cGrey
                margin-top 0
                margin-right 0

        .header__menu-mobile:hover
            color $cBlue

        .header__button-wrap
            width 160px
            display inline-block
            vertical-align top
            margin-right 50px

            @media sm
                width 290px
                margin-right 0
            @media xs
                width 145px
                margin-right 0
            @media xxs
                width 120px
                margin-right 0
                margin-left 15px

    &__basket
        display inline-block
        vertical-align top
        margin-top 10px
        position relative

        .header__basket-text
            cursor pointer
            padding-left 43px
            font-weight 700
            height 32px
            line-height 34px

            display inline-block
            vertical-align top
            color $cBlue
            background url("/static/img/sprite-basket.png") no-repeat 0 -33px

            @media xxs
                font-size 14px
                padding-left 0
                background none

            i
                font-size 22px
                color $cBlue
                font-style normal
                padding-left 6px
                @media xxs
                    font-size 18px

        .header__basket__popup
            position absolute
            width 260px
            padding 20px
            background rgba(0,0,0,0.6)
            border-radius 5px
            border 1px solid #cccccc
            top -20px
            left 50%
            margin-left -150px
            z-index 5
            text-align left
            display none

            span
                text-align center
                color #cccccc
                font-family "Roboto Condensed", sans-serif

            .popup-full__list
                display block
                border-bottom 1px dashed #999999

                &__el
                    display block
                    padding 10px 0

                    img
                        display inline-block
                        vertical-align top
                        width 50px
                        border 1px solid #cccccc
                        padding 8px
                        background #999999
                        margin-right 15px

                    &-content
                        display inline-block
                        vertical-align top
                        width 170px
                        text-align center

                        &-price
                            display block
                            margin-top 5px
                            color $cBlue
                            text-shadow 0 2px 2px #000000



            .popup-full__total
                padding-top 5px
                text-align center

                &-price
                    display block
                    color $cBlue
                    text-shadow 0 2px 2px #000000
                    line-height 12px
                    padding-bottom 10px

                &-link
                    display block
                    margin 0 auto
                    color #FFFFFF
                    width 90px
                    padding 5px 0
                    border 1px solid #cccccc
                    background #999999
                    font-size 14px
                    line-height 14px
                    text-shadow 0 1px 1px #000000


        .popup-empty
            span
                display block



    &__basket:hover
        .header__basket-text
            color $cGrey
            background url("/static/img/sprite-basket.png") no-repeat 0 0


nav
    position relative
.main-nav
    white-space nowrap
    padding 15px 40px 18px
    text-align center
    position relative
    z-index 3

    @media sm
        position absolute
        top 0
        z-index 5
        padding 0
        left 0
        right 0
        display none
        overflow hidden
    @media xs
        position absolute
        top 0
        z-index 5
        padding 0
        left 0
        right 0
        display none
        overflow hidden
    @media xxs
        position absolute
        top 0
        z-index 5
        padding 0
        left 0
        right 0
        display none
        overflow hidden

    li
        padding 2px 28px
        border-left 1px dotted $cGrey
        text-align center
        position relative

        @media sm
            display block
            background rgba(0,159,195,0.9)
            border-bottom 1px solid #fff
            text-align left
            padding 10px 30px
        @media xs
            display block
            background rgba(0,159,195,0.9)
            border-bottom 1px solid #fff
            text-align left
            padding 10px 30px
        @media xxs
            display block
            background rgba(0,159,195,0.9)
            border-bottom 1px solid #fff
            text-align left
            padding 10px 30px

        a, span
            font-family "Roboto Condensed", sans-serif
            font-size 18px
            color #000000

            @media sm
                color #ffffff
            @media xs
                color #ffffff
            @media xxs
                color #ffffff

        span
            color $cGrey

        a:hover
            color $cBlue

            @media sm
                color #ffffff
            @media xs
                color #ffffff
            @media xxs
                color #ffffff

        .hidden-menu
            position absolute
            left 0
            top 27px
            padding 0
            background #FFFFFF
            border-radius 10px
            box-shadow 0 2px 5px #979797
            z-index 30
            opacity 0
            height 0
            transition opacity 0.2s, height 0s, padding 0s
            overflow hidden

            @media sm
                display none
            @media xs
                display none
            @media xxs
                display none

            li
                display block
                padding 0
                margin 0 0 3px 0
                border none

                @media sm
                    background #ffffff
                @media xs
                    background #ffffff

                a
                    display block
                    text-align left
                    height 25px
                    font-size 15px
                    padding 0 10px
                    line-height 25px

                    @media sm
                        color #000000
                    @media xs
                        color #000000
                    @media xxs
                        color #000000

                a:hover
                    color $cBlue
                    background #f2f2f2

    li:first-child
        padding-left 0
        border none

        @media sm
            border-bottom 1px solid #fff
            padding-left 30px
        @media xs
            border-bottom 1px solid #fff
            padding-left 30px
        @media xxs
            border-bottom 1px solid #fff
            padding-left 30px

    li:last-child
        padding-right 0

        .hidden-menu
            left auto
            right 0

            @media sm
                right auto
                left 40px
            @media xs
                right auto
                left 40px
            @media xxs
                right auto
                left 40px

    li:hover
        .hidden-menu
            opacity 1
            height auto
            padding 12px 5px



