.product-list
    display block
    margin-left -20px
    text-align left
    @media xxs
        text-align center

    &__el
        display inline-block
        vertical-align top
        margin-left 20px
        margin-bottom 30px
        width 145px
        @media xxs
            width 125px

        .product-list__el-img
            display block
            width 100%
            height auto
            position relative
            margin-bottom 17px
            overflow hidden

        .product-list__el-img:after
            content ''
            position absolute
            left 0
            top 0
            right 0
            bottom 0
            background rgba(0,159,195,0.6) url("/static/img/icon--link-hover.png") no-repeat 50% 50%
            opacity 0
            transition opacity 0.2s

            img
                min-width 100%
                min-height 100%

        span
            font-weight 700
            display block
            text-align center
            font-size 16px
            transition color 0.2s

    &__el:hover
        .product-list__el-img:after
            opacity 1

        span
            color $cBlue



