.pagination
    display block
    margin-top 50px
    padding-left 15px
    padding-bottom 30px

    li
        display inline-block
        vertical-align top
        margin-right 25px
        @media xxs
            margin-right 15px

        a,
        span
            color #000000
            font-size 22px
            font-family "Roboto Condensed", sans-serif
            line-height 21px
            @media xxs
                font-size 20px

    .prev
        margin-right 34px
        @media xxs
            margin-right 15px

        a
            display block
            width 11px
            height 21px
            background url("/static/img/sprite--pagination.png") no-repeat 0 0

    .next
        a
            display block
            width 11px
            height 21px
            background url("/static/img/sprite--pagination.png") no-repeat -11px 0

    .current
        span
            color $cBlue