footer.footer
    .page-content
        .footer__left-block
            ul.footer__pay
                li
                    img(src = "/static/img/pay-card.jpg" alt)
                li
                    img(src = "/static/img/pay-robo.jpg" alt)
                li
                    img(src = "/static/img/pay-wm.jpg" alt)
                li
                    img(src = "/static/img/pay-qiwi.jpg" alt)

            .footer__social
                span Мы в социальных сетях
                ul.social
                    li.social-fb
                        a(href = "#")
                            img(src = "/static/img/social-fb.png")
                    li.social-vk
                        a(href = "#")
                            img(src = "/static/img/social-vk.png")
                    li.social-gl
                        a(href = "#")
                            img(src = "/static/img/social-gl.png")
                    li.social-ml
                        a(href = "#")
                            img(src = "/static/img/social-ml.png")

        .footer__links
            a Новости
            a Контакты

        .footer__right-block
            a(href = "tel:84955181966").footer__phone +7 495 518 1966
            span Fullspot online Russia
            span © Copyright 2015
            span Разработка
                a(href = "http://reefstudio.ru/") reefstudio