header.header.justifyed

    a.header__logo
        span Сумки, часы, очки-трансформеры из Италии

    .header__content
        .header__links
            a.header__links-link О нас
            a.header__links-link Доставка по России
            a(href = "login.html" class = "fancybox.ajax").fancybox.header__links-name Вход
            ul.social
                li.social-fb
                    a(href = "#")
                        img(src = "/static/img/social-fb.png")
                li.social-vk
                    a(href = "#")
                        img(src = "/static/img/social-vk.png")
                li.social-gl
                    a(href = "#")
                        img(src = "/static/img/social-gl.png")
                li.social-ml
                    a(href = "#")
                        img(src = "/static/img/social-ml.png")

        .header__content-bottom.justifyed
            a.header__logo-mobile

            .header__button-wrap
                a.header__menu-mobile.js--show-nav Меню
                .header__basket.basket-empty
                    span.header__basket-text.js--show-basket-popup В корзине
                        i 0

                    .header__basket__popup.popup-empty
                        span Ваша корзина пуста

                    .header__basket__popup.popup-full


            .header__contacts
                a(href = "tel:84955181966").header__contacts-phone +7 495 518 1966
                a(href = "popup-call.html" class = "fancybox.ajax").header__contacts-popup.fancybox Обратный звонок

nav
   ul.main-nav
        li
            a(href = "") О bag
            ul.hidden-menu
                li.hidden-menu__el
                    a О bag|Корпуса
                li.hidden-menu__el
                    a О bag|Вкладки
                li.hidden-menu__el
                    a О bag|Манжеты
                li.hidden-menu__el
                    a О bag + О bag mini|Ручки
        li
            a(href = "") О pocket
        li
            a(href = "") О bag basket
        li
            a(href = "") О folder
        li
            a(href = "") Часы
        li
            a(href = "") Браслеты
        li
            a(href = "") Очки
        li
            a(href = "") Showroom
            ul.hidden-menu
                li.hidden-menu__el
                    a О bag|Корпуса
                li.hidden-menu__el
                    a О bag|Вкладки
                li.hidden-menu__el
                    a О bag|Манжеты
                li.hidden-menu__el
                    a О bag + О bag mini|Ручки