doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(href="/static/img/favicon.ico" rel="shortcut icon")
        meta(name="viewport" content="width=device-width" viewport="width=device-width")
        title #{title}

        link(href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Roboto:400,300,700,500&subset=latin,cyrillic' rel='stylesheet' type='text/css')
        link(rel='stylesheet', href="/static/css/style.css")
        script(src="/static/js/app-common.js")
        script(src="/static/js/carousel.js")
        script(src="/static/js/social-likes.min.js")
        script(src="/static/js/jquery.fancybox.pack.js")
        script(src="/static/js/app.js")
    body

        //- svg symbols
        //-  svg(style="width: 100px; height: 30px")
        //-      use(xlink:href="#logo")

        //- div(style="position: absolute; left: -9999px")
            include ../../../../img/svg/svg.svg

        div.page

            include  header

            block content

            .psevdofooter

        include  footer
