block vars
    - var title='DEV'

extends partials/layout_bootstrap

block content

    .container

        .page-header
            h1 Верстка по макетам

        .list-group

            .list-group-item.active Pages
            a.list-group-item(href="/static/html/pages/fullsport__index.html")
                h4 Главная
            a.list-group-item(href="/static/html/pages/fullsport__product-handlers.html")
                h4 Отдельный товар ручки
            a.list-group-item(href="/static/html/pages/fullsport__product-bag.html")
                h4 Отдельный товар подкладка
            a.list-group-item(href="/static/html/pages/fullsport__construct.html")
                h4 Конструктор товара
            a.list-group-item(href="/static/html/pages/fullsport__basket.html")
                h4 Корзина
            a.list-group-item(href="/static/html/pages/fullsport__bag-list.html")
                h4 Список сумок
            a.list-group-item(href="/static/html/pages/fullsport__showroom.html")
                h4 Showroom
            a.list-group-item(href="/static/html/pages/fullsport__contacts.html")
                h4 Контакты
            a.list-group-item(href="/static/html/pages/fullsport__news.html")
                h4 Новости
            a.list-group-item(href="/static/html/pages/fullsport__news-post.html")
                h4 Новость
            a.list-group-item(href="/static/html/pages/fullsport__about.html")
                h4 О нас
            a.list-group-item(href="/static/html/pages/fullsport__delivery.html")
                h4 Доставка
            a.list-group-item(href="/static/html/pages/fullsport__delivery-ok.html")
                h4 После оформления
            a.list-group-item(href="/static/html/pages/fullsport__registration.html")
                h4 Регистрация
            a.list-group-item(href="/static/html/pages/fullsport__sertificate.html")
                h4 Сертификат
            a.list-group-item(href="/static/html/pages/fullsport__has-registration.html")
                h4 Уже зарегистрирован


        //- h3 UI kit
        //-     .list-group
        //-         a.list-group-item(href="/static/html/ui/preloader/preloader.html")
        //-             h4 Индикатор загрузки
